#page-container {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 80px;
	background: #f2f2f2;
	padding: 10px;
	box-shadow: 0 0 10px rgb(200, 200, 200);
}
.form-container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.form-container .labels{
	text-align: left;
}

.form-container .upload{
	width: 340px;
}

#menu {
	min-height: 30px;
	margin-bottom: 20px;
}

#menu > label {
	width: 49%;
	display: inline-block;
	text-align: center;
	background: #ddd;
	line-height: 30px;
}

.tab {
	display: none;
}
.tab:first-child {
	display: block;
}

label.input {
	display: block;
	margin-top: 5px;
}

label.input > label {
	width: 250px;
	display: inline-block;
	vertical-align: top;
}

label.input input[type="text"], label.input textarea {
	width: 340px;
}
label.input input[type="file"] {
	display: inline;
}

label.input #lat, label.input #long {
	width: 164px;
}

#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.pest-img {
	max-width: 400px;
	border: 4px solid #AAA;
}

@media (max-width: 991px) {
	#menu{
		text-align: center;
	}
	#menu > label {
		width: 50%;
		cursor: pointer;
	}
}

/*Information page*/

.image {
	max-width: 400px;
	width: 100%;
	border: 4px solid #AAA;
}

.location-wrapper {
	margin: 30px 0;
}

hr {
	margin: 40px 0;
}